<h1>Profile for <%= @user.name.upcase %>:</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name:</th>
			<th>Role:</th>
			<th>New Role:</th>
			<th>Current Supervisor:</th>	
			<th>New Supervisor:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.name.upcase %></td>
			<td><%= @user.role.upcase %></td>
			<td><%= form_tag edit_role_path do %>
						<%= select_tag(:role, options_for_select([ "employee", "supervisor" ]), :prompt => "Please select") %>
			  		<%= hidden_field_tag :id, @user.id %>
			  		<n><%= submit_tag "Update", class: "btn btn-warning" %>
			  	<% end %>
			</td>
			<td><%= @user.supervisor.upcase %></td>	
			<td>
				<%= form_tag edit_user_path do %>
						<%= select_tag(:supervisor, options_for_select(@supervisor.collect {|s| [s.name, s.name]}), :prompt => "Please select") %>
			  		<%= hidden_field_tag :id, @user.id %>

			  			<n/>

			  		<%= submit_tag "Update", class: "btn btn-warning" %>
			  		<% if can? :manage, :all %>
			  		<%= link_to "Delete User", delete_user_path(id: @user.id), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
			  		<% end %>
				<% end %>
			</td>
		</tr>	
	</tbody>
</table>

<%= link_to 'Home', root_path, class: "btn btn-info" %>