<h1>Profile for <%= @user.email %>:</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name:</th>
			<th>Role:</th>
			<th>Current Supervisor:</th>	
			<th>New Supervisor:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.name.upcase %></td>
			<td><%= @user.role.upcase %></td>
			<td><%= @user.supervisor.upcase %></td>	
			<td>
				<%= form_tag edit_user_path do %>
						<%= select_tag(:supervisor, options_for_select(@supervisor.collect {|s| [s.name, s.name]}), :prompt => "Please select") %>
			  		<%= hidden_field_tag :id, @user.id %>

			  			<n/>

			  		<%= submit_tag "Update Supervisor", class: "btn btn-warning" %>
			  		<%= link_to "Delete User", delete_user_path(id: @user.id), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
				<% end %>
			</td>
		</tr>	
	</tbody>
</table>

<%= link_to 'Back', all_users_path, class: "btn btn-info" %>