<h1>Supervisor List:</h1>
<br />


<table class="table">
	<thead>
		<tr>
			<th>Name:</th>
			<th>Role:</th>
			<th>Current Supervisor:</th>
		</tr>
	</thead>

	<tbody>
<% @users.each do |user| %>
	<tr>
		<td><%= user.name.upcase %></td>
		<td><%= user.role.upcase %></td>
		<td><%= user.supervisor.upcase %></td>
		<td><%= link_to "Select User", show_user_path(id: user.id), class: "btn btn-warning" %></td>
<% end %>
	</tr>
	</tbody>
</table>

<%= link_to 'Home', root_path, class: "btn btn-info" %>